@import "theme";


.abertoCronometro {
    margin-top: 20px;
    width: 360px;
    color: $alice-blue;
    background-color: rgb(21,17,13);
    padding:30px 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px rgba($color: rgb(100,100,100), $alpha: 0.4) solid;
}

.abertoMatriculas {
    text-transform: uppercase;
    line-height: 38px;
    font-family: 'arial_black';
    font-size: 34px;
}
.abertoAbertas {
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'arial_black';
    font-size: 48px;
    color: $base-green;
}

.abertoTexto {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    margin: 10px auto;
}

.abertoCorre {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    margin: 0px auto 10px auto;
    color: rgb(124, 124, 124);
}

.abertoBotao {
    background-color: $base-green;
    padding: 20px;
    color: #FFFFFF;
    font-family:  'moon_getheavy', 'Arial Black', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px!important;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50px;
    border-width: 0px;
    cursor: pointer;
}

.abertoBotao:hover{
    background-color: rgb(68, 207, 119);
}