@import "theme";

.btnWrapper {
    width: 100%;
    padding: 0 auto;
    margin: 10px auto 5px auto;
    text-align: center;
}

.button {
    background-color: $base-green;
    padding: 18px 24px;
    color: #FFFFFF;
    font-family:  'moon_getheavy', 'Arial Black', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;

}

@media screen and (max-width: 570px) {
    .button {
        font-size: 16px;
        padding: 15px 20px;
        width: 95% !important;
    }
}