@import "theme";

.cronometro {
    height: 500px;
    width: 350px;
    font-size: 22px;
    line-height: 16px;
    font-family: 'arial';
    color: white;
    background-color: black;
    padding: 10px 25px;
    text-align: center;
    border-radius: 15px;
    margin: 40px 80px 0 0;
}
