@import "theme";

.faixa {
    background-color: $dark-blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 20px 20px;
    overflow: hidden;
}


.card {
    
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 22px;
    color: $alice-blue;
    text-align: center;
    max-width: 380px
}

.card > img {
    align-self: center;
    max-width: 150px;

}

.barra {
    display: flex;
    margin-top: 10px;
    height: 13rem;
    min-width: 1px;
    background-color: $alice-blue;
}

.text{
    text-align: center;
    max-width: 80%;
    margin-top: 15px;

}

@media screen and (max-width: 800px) {
        .faixa {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 5px;
        }
        .card {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 10px 10px 10px 10px;
            width: 100%;
            margin: 10px 0px;
        }


        .text{
            margin: 0 10px 0 20px;
            max-width: 55vw;
            font-size: 14px;
        }
        .barra {
            width: 80vw;
            max-width: 90vw;
            height: 1px;
        }

        .card > img {
            max-width: 90px;
            max-height: 75px;
            margin: 10px auto;
        }
}
