@import "theme";

.faixa {
    background-color: $dark-blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 20px 50px;
    overflow: hidden;
}


.card {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    color: $alice-blue;
    text-align: center;
    max-width: 380px
}

.card > img {
    align-self: center;
    max-width: 150px;

}

.barra {
    display: flex;
    margin-top: 10px;
    height: 13rem;
    min-width: 1px;
    background-color: $alice-blue;
}

.text{
    margin-top: 15px;

}

@media screen and (max-width: 800px) {
        .faixa {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
        }
        .card {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px 0px;
            width: 80vw;
            max-width: 500px;
            margin: 20px auto;
        }

        .text{
            margin: 0 0 0 20px;
            max-width: 130px;
            max-height: 130px;
        }
        .barra {
            width: 50vw;
            max-width: 100vw;
            height: 1px;
        }

        .card > img {
            max-width: 110px;
            max-height: 110px;
            margin-right: 20px;
        }
}
