@import "theme";

.section {
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $alice-blue;
    background-image: url('/planetasEstrelas.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    margin-bottom: 30px;
    font-family: 'arial_black','Arial Black', Helvetica, sans-serif;
    color: $darker-blue;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: -2px;
    text-align: center;
}


.bgblue {
    background-color: $light-blue;
}



.perguntas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 20px auto;
    max-width: 1100px;
    overflow:hidden;
    flex-wrap: wrap;
}

.pergunta {
    background-color: $base-green;
    max-width: 300px;
    height: 340px;
    padding: 35px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #888888 ;
    
}

.perguntaImagem {
    max-height: 150px;
    max-width: 170px;
}

.imagemWrapper {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perguntaTitulo {
    height: 90px;
    font-family: 'arial_black','Arial Black', Helvetica, sans-serif;
    color: rgb(221, 238, 240);
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: center;
    margin: 0 auto;
}

.perguntaTexto {
    font-family: 'arial', Helvetica, sans-serif;
    color: $alice-blue;
    font-size: 21px;
    text-align: center;
    line-height: 23px;
    margin: 20px 0 0 0 ;
}

.botao {
    margin: 70px
}

@media screen and (max-width: 800px) {
    .section {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 600px) {

    .motivo {
        max-width: 90vw;
        margin: 30px 10px;
    }

    .motivoTexto {
        width: 95%
    }
    
    .imagemWrapper{
        margin-bottom: 10px;
        height: auto;
    }

    .motivoTitulo {
        font-family: 'arial_black','Arial Black', Helvetica, sans-serif;
        color: $darker-blue;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
    }


}
