@import "theme";

.header {
    width: 100%;
    color: $alice-blue;
    background-color: black;
    position: sticky !important;
    font-size: 14px;
    line-height: 18px;
    top: 0px !important;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 1px;
    z-index: 10;
}

.header > h4 {
    margin: 10px auto;
}
