@import "theme";


.footer {
  width: 100%;
  min-height: 150px;
  border-top: 1px solid #eaeaea;
  background-color: $alice-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 10px;
}

.redesSociais {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}

