@import "theme";


.section {
    min-height: 100vh;
    width: 100vw;
    background: url('/universo.png');
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0;
}


.subOverlay{
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


.subBox {
    margin: 15px auto 20px auto;
    max-width: 400px;
    color: $alice-blue;
    background-color: rgb(21,17,13);
    padding:30px 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px rgba($color: rgb(100,100,100), $alpha: 0.4) solid;
}

.subBemVindo {
    text-transform: uppercase;
    line-height: 32px;
    font-family: 'arial_black';
    font-size: 28px;
}
.subNovoUniverso {
    text-transform: uppercase;
    line-height: 40px;
    font-family: 'arial_black';
    font-size: 32px;
    color: $base-green;
}

.subAvisoEmail {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    margin: 10px auto;
}

.subSpamAviso {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin: 0px auto    ;
    color: rgb(211, 212, 99);
}
.subGrupo {
    padding: 12px;
  
    font-family: 'arial';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin: 0px auto    ;
    color: rgb(124, 124, 124);
}

.subRetornar {
    border-radius: 20px;
    border-width: 0px;
    min-width: 180px;
    padding: 15px 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
    margin: 15px auto;
    background-color:$base-blue;
    color: $alice-blue;
    cursor: pointer;
}


@media screen and (max-width: 450px) {
    .subBemVindo{
        font-size:26px;
    }

    .subNovoUniverso{
        font-size: 30px;
    }
}

