@import "theme";


.section {
    min-height: 100vh;
    width: 100vw;
    background: url('/universo.png');
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0;
}


.overlay{
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


.abertoCronometro {
    margin: 15px auto 20px auto;
    max-width: 400px;
    color: $alice-blue;
    background-color: rgb(21,17,13);
    padding:30px 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px rgba($color: rgb(100,100,100), $alpha: 0.4) solid;
}

.abertoMatriculas {
    text-transform: uppercase;
    line-height: 32px;
    font-family: 'arial_black';
    font-size: 28px;
}
.abertoAbertas {
    text-transform: uppercase;
    line-height: 40px;
    font-family: 'arial_black';
    font-size: 32px;
    color: $base-green;
}

.abertoTexto {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    margin: 10px auto;
}

.abertoCorre {
    padding: 12px;
    text-transform: uppercase;  
    font-family: 'arial';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin: 0px auto 10px auto;
    color: rgb(124, 124, 124);
}


.abertoBotao {
    background-color: $base-green;
    padding: 20px;
    color: #FFFFFF;
    font-family:  'moon_getheavy', 'Arial Black', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px!important;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50px;
    border-width: 0px;
    cursor: pointer;
}

.abertoBotao:hover{
    background-color: rgb(68, 207, 119);
}


@media screen and (max-width: 450px) {
    .abertoMatriculas{
        font-size:26px;
    }

    .abertoAbertas{
        font-size: 30px;
    }
}