@import "theme";

.section { 
    min-height: 96vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;    
    position: relative;
    // transform-style: inherit;

    background: url('/FotoBg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;



}


// .section,
// .section:before {
//     background: 50% 50% / cover;
// }

// .section::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: block;
//     background: url('/fotobg.png');
//     background-size:cover;
//     background-repeat: no-repeat;
//     background-position-y: center;
//     transform-origin: center center 0;
//     transform: translateZ(-1px) scale(2);
//     z-index: -1;
//     min-height: 100vh;
// }

.logoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
    margin-right: 50px;
    margin-top: 80px;
}


@media screen and (max-width: 800px) {
    .logoWrapper {
        justify-content: center !important;
    }
    .logo {
        margin: 50px auto;
    }
}

@media screen and (max-width: 750px) {
    .logo {
        width: 561px;
        height: 266px;
    }
}


@media screen and (max-width: 620px) {
    .logo {
        width: 87vw;
        height: 42vw;
    }
}