@import "theme";

.section { 
    height: 560px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 20px;
    justify-content: space-between;
    padding: 0px;
    box-sizing: border-box;    
    position: relative;
    // transform-style: inherit;

    background: url('/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 18% 90%;
    position: relative;
}
.centerWrapper {
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 100%;
}

.ImagemWrapper {
    position: absolute;
    top: 110px;
    margin-bottom: 0;
    z-index: 1;
    left: 370px;
    // width: 100vw;
    // text-align: center;
}


.logo {
    z-index: 4;
    position: absolute;
    top: 140px;
    // left: 64px;
    left: 710px;
}

.cronometroWrapper {
    z-index: 3;
    position: absolute;
    // left: 876px;
    left:0px;
    top: 40px;
}

.textoImersao{
    position: absolute;
    top: 350px;
    left: 690px;
    width: 400px;
    font-family: 'arial_black','Arial Black', Helvetica, sans-serif;
    color: $alice-blue;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 32px;
}

.bgblue {
    background-color: $light-blue;
}


@media screen and (max-width: 1000px) {


    .section{
        padding: 0px;
        height: 1180px;
        background-position: 72% 90%;
    }

    .centerWrapper{
        position: inherit;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ImagemWrapper {

        top: 150px;
        left: auto;
        z-index: 1;
        
        width: 100vw;
        text-align: center;
    }

    .ImagemWrapper > img {
        width: 300px;
        height: 360px;
    }

    .cronometroWrapper{
        top: 470px;
        left: auto;
        width: 100%;
        height: 100%;
        text-align: center;
        
    }
    .cronometroWrapper > div {
        margin: 0 auto;
        width: 92vw;
        max-width: 400px;
    }

    .logo {
        z-index: 4;
        position: absolute;
        top: 10px;
        left: auto;
        margin: 0 auto;
        width: 360px;
    }

    .textoImersao{
        position: absolute;
        top: 1020px;
        left: auto;
        border-radius: 10px;
        padding: 15px;
        font-size: 24px;
        line-height: 32px;
        width: 320px;
    }


}