@import "theme";

.closeBtn{
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
    background-color:$base-green;
    color: aliceblue;
    font-size: 22px;
    padding: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 15px;
    z-index: 10000;

}

.modal {
    height:100%;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: $lighter-blue;
}

.tituloWrapper{
    background-color: $light-blue;
    // height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px 60px;
}

.titulo {
    color: $alice-blue;
    font-size: 25px;
}

.subTitulo {
    margin-top: 10px;
    color: aliceblue;
    font-size: 16px;
}

.items {
    padding: 40px;
    min-height: 100%;
}

.itemLista {
    margin: 20px auto 40px;
}

.itemTitulo{
    font-size: 20px;
    margin-left: 18px;
    color: $dark-blue;
    text-transform: uppercase;
}

.itemSubTitulo {
    margin: 0 0 5px -10px;
    color: $darker-blue;
    font-size: 21px;
}

.itemLista > li {
    color: $dark-blue;
    font-family: 'arial', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;  
    list-style: none;
}

.itemLista > li:before {
	content: "⇨ ";
}

@media screen and (max-width: 800px) {

    .tituloWrapper{
        padding: 20px;
    }
    .items {
        padding: 10px 30px 10px 0px;
    }
    .itemLista > li {
        font-size: 18px;
    }
    .itemSubTitulo {
        font-size: 20px;
    }
    .titulo{
        font-size: 23px;
    }

}
