@import "theme";

.section {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/planetasEstrelas.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgblue {
    background-color: $light-blue;
}

.titulo {
    margin-bottom: 50px;
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $darker-blue;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -1px;
}

.textoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    padding: 30px;
}

.texto {
    width: 50vw;
    margin-left: 130px;
    font-family: 'Arial';
    color: $darker-blue;
    font-size: 20px;
    text-align: justify;
}
