@import "theme";

.section {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/planetasEstrelas.png');
    background-size:contain;
    overflow: hidden;
}

.bgblue {
    background-color: $light-blue;
}

.titulo {
    margin-bottom: 50px;
    font-family: 'arial_black','Arial Black', Helvetica, sans-serif;
    color: $darker-blue;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    text-align: center;
}

.textoWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    padding: 30px;
}

.texto {
    width: 40vw;
    font-family: 'arial', Helvetica, sans-serif;
    font-size: 19px;
    color: $darker-blue;
    text-align: justify;    
    line-height: 26px;
    margin: 8px;
    text-align: justify;
}

.setedias {
    margin: 5px 30px 5px 5px;
}

@media screen and (max-width: 1000px) {
    .textoWrapper{
        text-align: center;
        align-items: center;
        padding: 15px 5px;
    }
    .texto {
        width: 90vw;
        margin: 0;
        font-size: 17px;
    }

    .titulo {
        font-size: 22px;
        width: 90vw;
        margin: 0 auto;
    }
    
    .setedias {
        margin: 25px 5px;
    }

    .setedias > img{
        height: 270px;
    }
}

