@import "theme";

.section {
    background-color:$lighter-blue;
    display: flex;
    flex:1;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.titulo {
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $darker-blue;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
    margin: 20px auto 30px auto;
    text-align: center;
}

.modulos {
    width: 100%;
    text-align: center;
}



.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.linha:nth-child(1){
    margin-left: 50px;
}

.linha:nth-child(2){
    margin-right: 50px;
}

.linha:nth-child(3){
    margin-left: 50px;
}

.modulo {
    display: flex;
    flex-direction: row;
    margin: 25px 40px;
}

.textWrapper {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    padding: 5px 15px;
}

.moduloTituloRight {
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $dark-blue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
    margin-top: 8px;
    text-align: right;
}

.moduloTextoRight {
    font-family: 'Arial', Helvetica, sans-serif;
    color: $dark-blue;
    font-size: 18px;
    margin-top: 8px;
    text-align: right;
}
.moduloTituloLeft {
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $dark-blue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
    margin-top: 8px;
    text-align: left;
}

.moduloTextoLeft {
    font-family: 'Arial', Helvetica, sans-serif;
    color: $dark-blue;
    font-size: 18px;
    margin-top: 8px;
    text-align: left;
}

.textoFinal {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.textoFinalAzul {
    width:50%;
    font-family: 'Arial', Helvetica, sans-serif;
    color: $dark-blue;
    font-size: 19px;
    line-height: 22px;
    margin: 60px auto 10px auto;
    text-align: justify;

}

.importante {
    font-family: Arial, Helvetica, sans-serif;
    color:#D36135;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    text-align: center;
    width:50%;
    margin: 5px auto;
    border-radius: 10px;

}

@media screen and (max-width: 800px) {
    .textoFinalAzul {
        width:90%;
        text-align: center;
    }
    .importante {
        font-size: 18px;
        width: 90%;
    }

    .section {
        padding: 20px 5px 50px 5px;
    }
    .modulo {
        margin: 5px auto;
    }
    .linha {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .moduloTituloRight, .moduloTituloLeft {
        font-size: 21px !important;
    }

    .moduloTextoRight, .moduloTextoLeft {
        font-size: 18px !important;
    }

    .image > img {
        width: 30vw;
    }
    .textWrapper{
        max-width: 60vw!important;
    }
}