@import "theme";

.section {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.video {
    width: 700px;
    height: 390px;
    margin-bottom: 20px;
}

.texto {
    margin-bottom: 50px;
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $dark-blue;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -1px;
}

.bgblue {
    background-color: $light-blue;
}
