@import "theme";

.section {
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.video {
    width: 700px;
    height: 390px;
    margin-bottom: 20px;
}

.titulo {
    margin-bottom: 50px;
    font-family: 'Arial Black', Helvetica, sans-serif;
    color: $darker-blue;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 35px;
}

.bgblue {
    background-color: $light-blue;
}

@media screen and (max-width: 800px) {
    .titulo {
        font-size: 23px;
    }
    .video {
        width: 99%;
        height: 50vh;
        margin-bottom: 20px;
    }
}